<div class="card text-dark mt-2 m-1">

  <div class="card-body p-2 btn" routerLinkActive="active" [routerLink]="['/wyprawy/', adventure.id, 'edycja']">
    <h6 class="card-title text-capitalize text-dark text-center mb-1 btn" ><i class="fa fa-compass"></i>
      {{adventure.adventureName}}
    </h6>
  
  <div class="card-img-wrapper">
    <img src="{{adventure.photoUrl || '../../../../../assets/compass2.png'}}" class="card-img-top" alt="{{adventure.adventureName}}">
    <ul class="list-inline text-center user-icons animate">
      <li class="list-inline-item" >
        <button class="btn btn-outline-dark btn-sm" >
          <i class="fa fa-bicycle"></i>
        </button>
      </li>
      <!-- <li class="list-inline-item" (click)="sendLike(user.id)" (click)="$event.stopPropagation()">
        <button class="btn btn-outline-danger btn-sm">
          <i class="fa fa-plus-square"></i>
        </button>
      </li>
      <li class="list-inline-item">
        <button class="btn btn-outline-info btn-sm"  [routerLink]="['/uzytkownicy/', user.id]" [queryParams]="{tab: 4}" (click)="$event.stopPropagation()">
          <i class="fa fa-envelope"></i>
        </button>
      </li> -->

    
    <!-- <div class="list-group p-2 m-0">
      <li class="list-group-item">{{user.username}}</li>
      <li class="list-group-item">{{user.city}}</li>
    </div> -->
  </ul>
  <div class="text-center">
    <div class="btn-group d-flex text-center text-dark">
      <button type="button" class="btn btn-sm btn-danger mr-1"
        ><i class="fa fa-trash-o"></i></button>
    </div>
  </div>
</div>

