.img-thumbnail {
  margin: 15px;
  width: 90%;
  height: 90%;
}

.card-body {
  padding: 0 15px;
}

.card-footer {
  padding: 0 15px;
  border-top: none;
  margin-bottom: 10px;
}

.user-table {
  width: 100%;
  margin: 30 px;
}

.user-table-td {
  width: 50%;
}

.tab-wrapper {
  background: #fff;
}
.tab-wrapper .tab-panel {
  padding: 10px 20px;
}

.tab-wrapper .thumbnail {
    height: auto;
}

.cart-wrapper {
  margin: 0!important;
}

.cart-wrapper::after {
  content: '';
  display: block;
  clear: both;
}
.cart-element {
  float: left;
}