img.img-thumbnail {
    min-width: 100px !important;
    margin-bottom: 2px;
}

.nv-file-over {
    border: dotted 2px red;
}

input[type=file] {
    color: transparent;
}

.user-photo-el {
    margin-bottom: 65px;
}
.user-photo-el-inner {
    min-height: 105px;
}