<form [formGroup]="sellBicycleAddForm" (ngSubmit)="addSellBicycle()">
  <h2 class="text-center text-primary">
    Dodaj rower!
  </h2>
  <hr>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Nazwa" formControlName="sellBicycleName"
      [ngClass]="{ 'is-invalid': sellBicycleAddForm.get('sellBicycleName').errors && sellBicycleAddForm.get('sellBicycleName').touched}">
    <div class="invalid-feedback">Podaj nazwę!</div>
  </div>
  <div class="form-group">
    <select class="form-control" 
            placeholder="Typ roweru"
            formControlName="typeBicycle" 
            [(ngModel)]="sellBicycleParams.typeBicycle">
      <option *ngFor="let typeBicycle of typeBicycleList" [value]="typeBicycle.value">
        {{typeBicycle.display}}
      </option>
    </select>  
  </div>

  <div class="form-group text-center">
    <hr>
    <button class="btn btn-success" type="submit" [disabled]="!sellBicycleAddForm.valid">Dodaj</button>
    <br>
    <button class="btn btn-default" type="button" (click)="cancel()">Anuluj</button>
  </div>
</form>

<!-- <p>Wartości z formularza: {{sellBicycleAddForm.value | json }}</p>
<p>Wartości z formularza: {{sellBicycleAddForm.status | json }}</p> -->