<nav class="navbar navbar-expand-md  navbar-dark bg-primary ">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/home']">Rower, lubię Go!</a>
    <ul *ngIf="loggedIn()" class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/uzytkownicy']">Użytkownicy</a>
      </li>
      <!-- <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/wydarzenia']">Events</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/news']">News</a>
      </li> -->
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/wyprawy']">Wyprawy</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/giełda']">Giełda</a>
      </li>
    </ul>

    <div *ngIf="loggedIn()" class="dropdown" dropdown>
      <a href="/uzytkownicy/{{authService.currentUser.id}}">
      <span class="mr-2">
      <img src="{{photoUrl || '../../../../assets/user2.png'}}">
      </span>
    </a>
      <a class="btn btn-success dropdown-toggle text-light" dropdownToggle>
        Witaj {{ authService.decodedToken?.unique_name | titlecase }}!
      </a>
      <div class="dropdown-menu mt-3" *dropdownMenu>
        <a class="dropdown-item" [routerLink]="['/przyjaciele']" href="#"><i class="fa fa-users"> </i> Przyjaciele</a>
        <a class="dropdown-item" [routerLink]="['/wiadomości']" href="#"> <i class="fa fa-telegram"> </i> Wiadomości</a>
        <a class="dropdown-item" href="#" [routerLink]="['uzytkownik/edycja']"><i class="fa fa-user"></i> Edytuj
          profil</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#" (click)="logout()"> <i class="fa fa-bicycle"> </i> Wyloguj</a>
      </div>
    </div>


    <form *ngIf="!loggedIn()" #loginForm="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="login()">
      <input class="form-control mr-sm-2" type="text" placeholder="Użytkownik" [(ngModel)]="model.username"
        name="username" required>
      <input class="form-control mr-sm-2" type="password" placeholder="Hasło" [(ngModel)]="model.password"
        name="password" required>
      <button [disabled]="!loginForm.valid" class="btn btn-outline-success my-2 my-sm-0 text-light"
        type="submit">Zaloguj</button>
    </form>

  </div>
</nav>