.navbar a {
    float: center;

  text-align: center;

}

img {
  max-height: 50px;
  border: 2px solid white;
  display: inline;
}
@media (max-width: 768px) {
.navbar-nav {
  width: 100%;
}
.navbar-brand {
  width: 100%;
  font-weight: 24px;
}
.navbar .dropdown {
  margin: 0 auto;
}
}