.main-button-wrapper {
  position: absolute;
  right: 300px;
  top: 13px;
}

.main-button-wrapper button {
  background: #fff;
  color: #78c2ad;
  text-transform: uppercase;
  font-size: 14px;
}




@media (max-width: 998px) {
   
    .main-button-wrapper {
        position: absolute;
    right: 100px;
    top: 80px;

        /* position: static;
        margin: 20px auto;
        width: 100%;
        max-width: 500px; */
    } 

    .main-button-wrapper button {
        width: 100%;
    
    }

}

@media (max-width: 768px) {
   
    .main-button-wrapper {
        position: absolute;
     right: 100px;
    top: 100px;

        /* position: static;
        margin: 20px auto;
        width: 100%;
        max-width: 500px; */
    } 

    .main-button-wrapper button {
        width: 100%;
    
    }

}

@media (max-width: 676px) {
   
    .main-button-wrapper {
        position: absolute;
     right: 100px;
    top: 370px;

        /* position: static;
        margin: 20px auto;
        width: 100%;
        max-width: 500px; */
    } 

    .main-button-wrapper button {
        width: 100%;
    
    }

}

@media (max-width: 575px) {
   
    .main-button-wrapper {
        position: absolute;
    right: center;
    top: 420px;

        /* position: static;
        margin: 20px auto;
        width: 100%;
        max-width: 500px; */
    } 

    .main-button-wrapper button {
        width: 100%;
    
    }

}






.footer-nav-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 15px;
}

@media (max-width: 776px) {
    .footer-nav-wrapper {
        display: block;
    }
    .footer-nav-wrapper .btn-group {
        float: none!important;
        display: block;
    }
    .footer-nav-wrapper .btn-primary {
        width: 100%;
        margin-bottom: 15px;
        float: none!important;
        display: block;
    }
}

@media (max-width: 450px) {
.user-card-wrapper {
    width: 100%;
} 
}
